* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(Nico.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.form {
  width: 200px ;
  height: 330px;
  color: #1d1919;
  background-color:limegreen(to top, black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px, 25px;
  border-radius: 10px;
}

.form h1{
  width:220px;
text-align:center;
padding-left: 11px;
font-size: 35px ;
color: #201e1e;
margin: 20px;
}

.form p{
  padding-bottom: -15px;
}

.form input {
  width: 100%;
  height: 35%;
  padding-top:5% ;
  margin-bottom: 35%;
  background: transparent;
  border-bottom: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: aliceblue;
  outline: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.form input[type= "submit"]
{
width: 60%;
margin-left: 50%;
border: none;
height: none;
color: black;
background-color: white;
font-size: 16px;
font-weight: bold;
border-radius: 15px;

}


h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
